@import "~antd/dist/antd.css";
/* .logo {
  height: 32px;
  margin: 14px;
  background: url("https://cdn3.iconfinder.com/data/icons/bank-and-savings/64/_Money_Bag-512.png")
    no-repeat center center;
  background-size: contain;
} */
