@import "~antd/dist/antd.css";
/* .logo {
  height: 32px;
  margin: 14px;
  background: url("https://cdn3.iconfinder.com/data/icons/bank-and-savings/64/_Money_Bag-512.png")
    no-repeat center center;
  background-size: contain;
} */
.page-loader-container {
  display: flex;
  height: 100vh;
}
.page-loader {
  margin: auto;
}
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

[data-theme="dark"] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}
